[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyjwt = "*"
"rfc5424-logging-handler" = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7.0"
